<!DOCTYPE html>
<html lang="en" ng-app='login'>
<head>
  <meta charset="UTF-8">
  <title>Log-in</title>
  <!-- External Scripts -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-md5/angular-md5.js"></script>
  <!-- My Scripts -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div ng-controller='loginController as loginCtrl'>
    <!-- Login Button -->
    <div class="sign-in-button" ng-click="loginCtrl.toggleForm()">Sign In</div>
    <!-- Login Form -->
    <form ng-show="loginCtrl.formIsVisible" ng-submit="loginCtrl.submit(session)" novalidate>
      <label>Username</label>
      <input type="text" name="username" ng-model="loginCtrl.user.name" required><br>
      <label>Password</label>
      <input type="text" name="password" ng-model="loginCtrl.user.password" required>
      <input type="submit" value="Login" />
    </form>
    <!-- Previews -->
    <pre>md5 Hash Password = {{ loginCtrl.message }}</pre>
    <pre>Form Preview      = {{ loginCtrl.user | json}}</pre>
    <!-- <pre>master = {{ loginCtrl.master | json}}</pre> -->
  </div>
  <div>
    <h2>Session:</h2>
    <li ng-repeat="user in session.users">
      Username: {{user.name}}
      Password: {{user.password}}
    </li>
  </div>
</body>
</html>
