<div class="about-wrapper">
<h2 class="text-center">Welcome to the Vagabond Onboarding Tool</h2>
<p><li>To Begin, Login with your User account and Password.</li></p>
<p><li>Select the location you would like to edit from the list</li></p>
<p><li>Enter information about your location in the form</li></p>
<p><li>Provide a clear photo of the face of the machine</li></p>
<p><li>Press submit and await the green confirmation notice, displayed on the page.</li></p>
<p><li>Select a new location from the list, or close the browser window, you will automatically be logged out on leaving the page.</li></p>
</div>
