<div class="about-wrapper">
  <div id="hexagon">Welcome</div>
  <h2 class="text-center">Welcome to the Vagabond Onboarding Tool</h2>
  <p><li>To Begin, Login with your User account and Password.</li></p>
  <div id="hexagon">Step 1</div>
  <p><li>Select the location you would like to edit from the list</li></p>
  <div id="hexagon">Step 2</div>
  <p><li>Enter information about your location in the form</li></p>
<div id="hexagon">Step 3</div>
  <p><li>Provide a clear photo of the face of the machine</li></p>
<div id="hexagon">Step 4</div>
  <p><li>Press submit and await the green confirmation notice, displayed on the page.</li></p>
  <div id="hexagon">Step 5</div>
  <p><li>Select a new location from the list, or close the browser window, you will automatically be logged out on leaving the page.</li></p>
</div>
