<h1 class="heading">Select a machine to begin:</h1>
<div ng-repeat="place in loginCtrl.places">
  <h1><li>Location: <a href="/">{{place.location_name}}</a></li></h1>
  <!-- <form ng-controller='dataController as dataCtrl' name="editForm" ng-submit="dataCtrl.submit(data)" novalidate>
  <label>account</label>
  <input type="text" name="account" placeholder="account" value="{{place.account}}">
  <label>Address 1</label>
  <input type="text" name="address" placeholder="address" value="{{place.location_address}}">
  <label>City</label>
  <input type="text" name="city" placeholder="washington" value="{{place.location_city}}">
  <input type="submit" class="btn btn-primary" value="submit" />
</form> -->
</div>
