
<div ng-controller='loginController as loginCtrl'>
  <div ng-show="loggedIn"><div id="hexagon">Welcome {{loggedIn}}</div>
</div>
<div class="sk-circle">
<div class="sk-circle1 sk-child"></div>
<div class="sk-circle2 sk-child"></div>
<div class="sk-circle3 sk-child"></div>
<div class="sk-circle4 sk-child"></div>
<div class="sk-circle5 sk-child"></div>
<div class="sk-circle6 sk-child"></div>
<div class="sk-circle7 sk-child"></div>
<div class="sk-circle8 sk-child"></div>
<div class="sk-circle9 sk-child"></div>
<div class="sk-circle10 sk-child"></div>
<div class="sk-circle11 sk-child"></div>
<div class="sk-circle12 sk-child"></div>
</div>
<!-- Insert List HTML below this line if it causes problems -->
<div class="locList">
  <div ng-repeat="place in loginCtrl.places | filter : {location_setup: '0'} : true track by place.id" class="spots">
    <a ui-sref='data.address({ id: place.id })'><h2>{{place.location_name}}</h2></a>
  </div>
</div>
<div id="login-views" ui-view></div>
</div>
<!-- | filter : {{location_setup: '0'}} : true" ng-if="loginCtrl.places.location_setup == '0' -->
