<div>
  <blockquote class="text-center">
    <p>Fill in or correct the machine's address information.</p>
  </blockquote>
  <label>Address 1</label>
  <input type="text" ng-model="formData.location_address" name="address" placeholder="address" value="{{place.location_address}}">
  <label>Address 2</label>
  <input type="text" ng-model="formData.location_address2" name="address" placeholder="address" value="{{place.location_address2}}">
  <label>City</label>
  <input type="text" ng-model="formData.location_city" name="city" placeholder="city" value="{{place.location_city}}">
  <label>State</label>
  <input type="text" ng-model="formData.location_state" name="state" placeholder="state" value="{{place.location_state}}">
  <label>Zip</label>
  <input type="text" ng-model="formData.location_zip" name="zip" placeholder="zip" value="{{place.location_zip}}">
  <input type="submit" class="btn btn-primary" value="Next" ui-sref="data.detail">
</div>
