<div>
  <blockquote class="text-center">
    <p>Fill the fields <em>OR</em> add a picture of the corresponding plates/stickers.</p>
  </blockquote>
  <label>Telemeter Type</label>
  <select ng-model="formData.location_telemeter">
    <option ng-repeat="telemeter in dataCtrl.telemeters">{{telemeter.model}}</option>
  </select>
  <label>Account</label>
  <input type="text" ng-model="formData.account" name="account" placeholder="account" value="{{dataCtrl.spot.account}}">
  <label>Make</label>
  <input type="text" ng-model="formData.location_make" name="make" placeholder="make" value="{{dataCtrl.spot.location_make}}">
  <label>Model</label>
  <input type="text" ng-model="formData.location_model" name="model" placeholder="model" value="{{dataCtrl.spot.location_address}}">
  <label>Telemeter Serial Number</label>
  <input type="text" ng-model="formData.location_telemeter_serial" name="telemeter" placeholder="telemeter serial" value="{{dataCtrl.spot.location_address}}">
  <label>Firmware (Optional)</label>
  <input type="text" ng-model="formData.location_firmware" name="firmware" placeholder="firmware" value="{{dataCtrl.spot.location_address2}}">
  <label>Route</label>
  <input type="text" ng-model="formData.route" name="route" placeholder="route" value="{{dataCtrl.spot.route}}">
  <form>
    <label class="text-center"></label>
    <span class="camera btn btn-primary fileinput-button">
      <span class="glyphicon glyphicon-camera"></span>
      Take a Photo
      <!-- <input ng-model="setupctrl.formData.mmfphoto" type="file" accept="image/*" capture="camera"> -->
      <input type="file"
      class="input-sm camera text-center"
      accept="image/*"
      capture="camera"
      file-input = "files"
      onchange="angular.element(this).scope().photosChanged(this)"
      base-sixty-four-input
      />
    </span>
    <li ng-repeat= "photo in photos">{{photo.name}}</li>
  </form>
  <input type="submit" class="btn btn-primary" value="Next" ui-sref="data.par" />
</div>
<!-- ADD ROUTE AND ACCOUNT -->
