<div>
  <blockquote class="text-center">
    <p>Fill the fields <em>OR</em> add a picture of the corresponding plates/stickers.</p>
  </blockquote>
  <label>Account</label>
  <input type="text" ng-model="formData.account" name="make" placeholder="make" value="{{dataCtrl.spot.account}}">
  <label>Make</label>
  <input type="text" ng-model="formData.location_make" name="make" placeholder="make" value="{{dataCtrl.spot.location_make}}">
  <label>Model</label>
  <input type="text" ng-model="formData.location_model" name="model" placeholder="model" value="{{dataCtrl.spot.location_address}}">
  <label>Telemeter Type</label>
  <select name="singleSelect" ng-model="data.singleSelect">
      <option value="option-1">USAT - Eport</option>
      <option value="option-2">PayRange - Bluekeys</option>
      <option value="option-3">Vendscreen</option>
      <option value="option-4">Vagabond Insight</option>
      <option value="option-5">Option 5</option>
  </select>
  <input type="text" ng-model="formData.firmware" name="firmware" placeholder="firmware" value="{{dataCtrl.spot.location_address2}}">
  <label>Route</label>
  <input type="text" ng-model="formData.route" name="route" placeholder="route" value="{{dataCtrl.spot.route}}">
  <form>
    <label class="text-center"></label>
    <span class="camera btn btn-primary fileinput-button">
      <span class="glyphicon glyphicon-camera"></span>
      Take a Photo
      <!-- <input ng-model="setupctrl.formData.mmfphoto" type="file" accept="image/*" capture="camera"> -->
      <input type="file"
      onchange="angular.element(this).scope().photosChanged(this)"
      base-sixty-four-input
      multiple />
    </span>
    <li ng-repeat= "photo in photos">{{photo.name}}</li>
  </form>
  <input type="submit" class="btn btn-primary" value="Next" ui-sref="data.par" />
</div>
<!-- ADD ROUTE AND ACCOUNT -->
