/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#data-form {
  position:relative;
  padding:30px;
}

#data-views {
  width:auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#data-views.ng-enter, #data-views.ng-leave {
  position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

/* enter animation */
#data-views.ng-enter {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#data-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(200%); }
  to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from    { -moz-transform:translateX(200%); }
  to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from    { -webkit-transform:translateX(200%); }
  to      { -webkit-transform: translateX(0); }
}

/* SELECTED PULSE 1 */
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(221, 105, 40, 0.4);
		box-shadow: 0 0 0 0 rgba(221, 105, 40, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(221, 105, 40, 0);
		box-shadow: 0 0 0 30px rgba(221, 105, 40, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(221, 105, 40, 0);
		box-shadow: 0 0 0 0 rgba(221, 105, 40, 0);
	}
}
/* SELECTED PULSE ERROR */
@-webkit-keyframes errorpulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 169, 44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(242, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 169, 44, 0);
	}
}

@-webkit-keyframes errorpulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 67, 48, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(242, 67, 48, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 67, 48, 0);
	}
}

@keyframes errorpulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(242, 67, 48, 0.4);
		box-shadow: 0 0 0 0 rgba(242, 67, 48, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(242, 67, 48, 0);
		box-shadow: 0 0 0 30px rgba(242, 67, 48, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(242, 67, 48, 0);
		box-shadow: 0 0 0 0 rgba(242, 67, 48, 0);
	}
}

/* SELECTED PULSE Success */
@-webkit-keyframes successpulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 169, 44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(242, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(242, 169, 44, 0);
	}
}

@-webkit-keyframes successpulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(28, 184, 120, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(28, 184, 120, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(28, 184, 120, 0);
	}
}

@keyframes successpulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(28, 184, 120, 0.4);
		box-shadow: 0 0 0 0 rgba(28, 184, 120, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(28, 184, 120, 0);
		box-shadow: 0 0 0 30px rgba(28, 184, 120, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(28, 184, 120, 0);
		box-shadow: 0 0 0 0 rgba(28, 184, 120, 0);
	}
}
